<div style="text-align: center">

  <h1>Angular Learning Topic = Angular Lifecycle Hooks | Content Projection </h1>

<!--  We are not using routing that's why we directly put parent component select here. -->
<app-parent>

  <app-child></app-child>

</app-parent>

<br><br>

<app-mainoffice></app-mainoffice>

<br><br>

<!-- <app-student [input]="input" ></app-student> -->

<app-student>

  <h3>Howdy!!</h3>

  <p style="color: blue;" >What you are doing?</p>

  <div style="background-color: blueviolet; width:50%; margin-left: 25%; color: white;">
    <b> From Div</b>
  </div>

</app-student>

<br><br>


</div>





